
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.header{
    display: flex;
    justify-content: space-around;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}

.q1{
    background-color: #1f2937;
    color: white;

    display: flex;
    flex-direction: column;
}

.q3{
    background-color: #e5e7eb;
}

.footer{
    background-color: #1f2937;
    color: white;
}