
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.header{
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.text{
    display: flex;
    flex-direction: column;
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.intro button{
    background: #3882f6;
    border: 1px solid royalblue;
    color: white;
    cursor: pointer;
    padding: 8px 35px;
    border-radius: 8px;
    max-width: fit-content;

    font-size: 18px;
    font-weight: 600;
}
.subtext,
.header-links{
    font-size: 18px;
    color:#e5e7eb;
    font-weight:400;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a{
    text-decoration: none;
    color: white;
}

.q1{
    background-color: #1f2937;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px;
}

.intro{
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 100px 300px;
    box-sizing: border-box;
}

.q2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.title{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.information{
    display: flex;
    gap: 20px;
    color: gray;
    font-size: 18px;
}

.q3{
    background-color: #e5e7eb;
}

.footer{
    display: flex;
    background-color: #1f2937;
    color: white;
}